@import 'components/font'
@import 'components/color'

footer
  width: 100%
  max-width: 40rem
  margin: 0 auto 4em auto
  hr
    width: 50%
    margin: 3em auto
    background: none
    border: 1px solid $lightgrey
    border-top: 0
  .contactbox
    max-width: 30em
    margin: 0 auto
    text-align: center
    font-family: $serif
  .credits
    font-size: .75em
    text-align: center
    color: $grey
    