//smartphone
@media screen and (max-width: 480px)
  header
    .fb-iframe, .date
      display: none

//tablet
@media screen and (max-width: 768px)
  
  section.textblock
    .sidebox
      width: 100%
      clear: both
      float: none
      margin: 0 auto
      
  .mobile-only
    display: initial
