@import 'components/font'
@import 'components/color'

section.textblock
  width: 100%
  margin-top: 2em
  max-width: 40rem
  margin: 2em auto 0 auto
  p
    font-size: 1.1875em
    font-family: $serif
    line-height: 2rem
    width: 100%
    margin: 1em auto
  .sidebox
    float: right
    font-family: $sans
    width: 250px
    margin-right: -20px
    margin-left: 20px
    font-size: .875rem
    line-height: 20px
    color: $grey
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
    padding: 2em 0