$black = #222
$grey = #9a9a9a
$lightgrey = #ddd
$green = #165217
$twitter = #5eaade
$facebook = #4864bb
$whatsapp = #f00
$white = #fff

$btn-green = #4A7E3E
$btn-grey = #e1e1e1

/*
Colors

These are the colors defined in the stylesheet.

Markup: 
<p class="black">black</p>
<p class="grey">grey</p>
<p class="lightgrey">lightgrey</p>
<p class="green">green</p>

Styleguide 3
*/
.black
  color: $black
.grey
  color: $grey
.lightgrey
  color: $lightgrey
.green
  color: $green